NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_ROOMS_API_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_GETSTREAM_API_KEY=

# URL base del backend para autenticación. Las rutas se agregan automáticamente:
# ${NEXT_PUBLIC_API_URL}/auth/register
# ${NEXT_PUBLIC_API_URL}/auth/login

# URL base del backend para salas y reuniones:
# ${NEXT_PUBLIC_ROOMS_API_URL}/salas
